.otpa-style-preview-image-container {
	width: 100px;
	height: 100px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px 5px 0;
	border: 1px solid transparent;
}

.otpa-style-preview-image-container.empty {
	border: 1px solid #cccccc;
}

.otpa-style-preview-image {
	height: 100px;
	width: auto;
	margin: 0 auto;
	display: block;
}

.wp-core-ui .button.otpa-media-select,
.wp-core-ui .button.otpa-media-reset {
	vertical-align: middle;
	margin-right: 5px;
}